.page-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  width: 100%;
  font-size: 1.7em;
  text-align: center;
}
h1 a {
  text-decoration: none;
}

.component-datepicker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.component-datepicker span {
}
.component-datepicker ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  break-after: always;
}
.component-datepicker input {
  width: 2.5em;
  margin: 0.2em;
  border: 0;
  border-radius: 0.5em;
  padding: 0.1em;
  font-size: 1.1em;
  line-height: 1.9em;
  text-align: center;
}
.component-datepicker--month::after {
  content: '/';
  font-size: 1.2em;
  line-height: 2em;
}
.component-datepicker--day-prev {
}
.component-datepicker--day-next {
}
