.page-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  font-size: 1.7em;
  text-align: center;
}
h1 a {
  text-decoration: none;
}

p {
  width: 100%;
  text-align: center;
}

input {
  margin: 0.2em;
  border: 0;
  padding: 0.1em;
  font-size: 1.1em;
  line-height: 1.9em;
  text-align: center;
  border-radius: 0.5em;
}
input:first-child {
  direction: rtl; /* this might be a bad idea */
}
