body {
  background-color: #eee;
  font-family: 'Helvetica', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 10px 10px 40px;
}

main {
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px 1px #000000bb;
}

h1 {
  margin: 0 0 1em 0;
}
h2 {
  margin: 0 0 0.2em 0;
}

section {
  padding: 20px;
}

hr {
  margin: 1.5em;
  width: 50%;
}

p {
  width: 100%;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.7em;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
footer li:after {
  content: '•';
}
footer li:last-child:after {
  content: none;
}
footer li > a {
  padding: 0.5em;
  text-decoration: none;
}

a.icon {
  background: 0/contain no-repeat;
}
a.icon.github {
  background-image: url(https://i.imgur.com/8Sp9Ndd.png);
  padding-left: 2.3em;
}
